[Unit]
Description=Run a censorship check
After=network-online.target

[Service]
User=root
ExecStart=/root/community-rpi-audit/runner/runner.sh

[Install]
WantedBy=multi-user.target
